<center><h1>Data Preprocessing on leetcode's scraped data using Python, Numpy & Pandas</h1></center>

<center>
    <img src="https://i.imgur.com/FGODlma.jpg" width=80% style="box-shadow:rgba(52, 64, 77, 0.2);border-radius:10px;">
</center>

#### `Introduction`

- This notebook revolves around the comprehensive data preprocessing and feature engineering of a dataset containing 2,920 LeetCode problems.
- In this dataset, 817 of these problems are classified as premium, which posed a unique challenge due to a lack of additional data.

<center><h1> Overview of the Scraped Data</h1></center>

In [ ]:
# Import necessary libraries
import numpy as np
import pandas as pd

# Suppress warnings to enhance the code output clarity
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# Read the scraped data from the CSV file into a DataFrame
df = pd.read_csv('leetcode_scraped_data.csv')
dff = df.copy()

In [ ]:
# Display a random sample of 10 rows from the DataFrame
df.sample(10)

In [ ]:
# Display concise information about the DataFrame, including the data types and memory usage
df.info()

In [ ]:
# Count the number of duplicated rows in the DataFrame
df.duplicated().sum()

In [ ]:
# Count the number of missing values in each column of the DataFrame
df.isnull().sum()

- We have data of 2,920 LeetCode problems.
- Out of these, 817 are premium problems, so we lack additional data for them.
- There are 869 null values in the `topic_tags` column. This is because 817 premium problems and other 52 null values indicate that the topic tags information is not available in the leetcode website.
- In the `similar_questions` column, there are 1,612 null values. This is because 817 premium problems and other 795 null values indicate that similar questions is not available in the leetcode website.

<center> <h2> Handling Missing Values </h2> </center>

> <p style="color:red"> Note: We lack information regarding premium questions. </p>

### `is_premium`

- Handle the missing values in the `is_premium` column by replacing them with the boolean value `True` to accurately denote the premium status.

In [ ]:
# Get the unique values in the `is_premium` column.
df['is_premium'].unique()

In [ ]:
#  Check the number of missing values in the `is_premium` column.
df['is_premium'].isnull().sum()

In [ ]:
# Replace all missing values in the `is_premium` column with `True`.
df['is_premium'].fillna(True, inplace=True)

In [ ]:
# Get the number of premium and non-premium questions in the DataFrame.
df['is_premium'].value_counts()

In [ ]:
# Get the data type of the 'is_premium' column.
df['is_premium'].dtype

### `topic_tags`

- Fill the null values with the appropriate values, namely "JavaScript" and "pandas".

In [ ]:
#  Check the number of missing values in the `topic_tags` column.
df['topic_tags'].isnull().sum()

In [ ]:
# The `selected_ids` list contains a set of LeetCode question IDs
# that are all related to JavaScript
# Number of `selected_ids` is 37
selected_ids = [2693, 2694, 2695, 2703, 2704, 2705, 2715, 2721, 2722, 2723, 2724,
2725, 2726, 2727, 2618, 2619, 2620, 2621, 2622, 2623, 2624, 2625, 2626,
2627, 2629, 2630, 2631, 2634, 2635, 2637, 2648, 2649, 2650, 2665, 2666, 2667, 2677]

In [ ]:
# Assign "JavaScript" topic tag to rows where title starts with selected IDs.
df.loc[df['title'].str.split('.').apply(lambda x: x[0]).astype('int').isin(selected_ids), 'topic_tags'] = "JavaScript"

In [ ]:
# The `selected_ids` list contains a set of LeetCode question IDs
# that are all related to Pandas
# Number of `selected_ids` is 15
selected_ids = [2877, 2878, 2879, 2880, 2881, 2882, 2883, 2884, 2885, 2886, 2887,
2888, 2889, 2890, 2891]

In [ ]:
# Assign "Pandas" topic tag to rows where title starts with selected IDs.
df.loc[df['title'].str.split('.').apply(lambda x: x[0]).astype('int').isin(selected_ids), 'topic_tags'] = "Pandas"

In [ ]:
#  Check the number of missing values in the `topic_tags` column.
df['topic_tags'].isnull().sum()

### `similar_questions`

- Fill in the null values for non-premium questions with an empty string, as there are no similar questions for those LeetCode problems.

In [ ]:
# Count the number of null values in the 'similar_questions'
df['similar_questions'].isnull().sum()

In [ ]:
# Set an empty string for 'similar_questions' where 'is_premium' is False and 'similar_questions' is null
df.loc[(df['is_premium'] == False) & df['similar_questions'].isnull(), 'similar_questions'] = ''

In [ ]:
# Count the number of null values in the 'similar_questions'
df['similar_questions'].isnull().sum()

In [ ]:
# Count the number of null values in each column
df.isnull().sum()

> **We handle all missing values for non-premium questions.**

<center> <h2> Feature Engineering </h2> </center>

### `title`

- We are extracting the problem numbers (IDs) from the `title`, which can be useful for organizing and analyzing the data.

In [ ]:
# Retrieve the 'title' column
df['title']

In [ ]:
# Extract the numerical part from the 'title' column by
# splitting at '.' and converting to integers
df['title'].str.split('.').apply(lambda x: x[0]).astype('int')

In [ ]:
# Extract numeric values from 'title' column, convert to integers,
# and assign to a new 'id' column
df['id'] = df['title'].str.split('.').apply(lambda x: x[0]).astype('int')

### `topic_tags`

- There are total 73 topic tags.
- LeetCode problems can belong to multiple topics.
- **string splitting** on `topic_tags`
    - It involves taking a single string that contains multiple items separated by some delimiter and splitting it into a list of individual items.
- **binary encoding** on `topic_tags`
    - We are creating a binary representation for the `topic_tags` column, where each unique tag gets its own column. If a tag is present for a problem, the corresponding column will have a value of **True**; if it's not present, the column will have a value of **False**.

In [ ]:
# Retrieve the 'topic_tags' column
df['topic_tags']

In [ ]:
# Remove single quotes and split the 'topic_tags' into a list of tags
df['topic_tags'].str.replace("'",'').str.split(', ')

In [ ]:
# Remove single quotes and split 'topic_tags' into lists,
# then update the 'topic_tags' column
df['topic_tags'] = df['topic_tags'].str.replace("'",'').str.split(', ')

In [ ]:
# Extract unique values from the 'topic_tags' column
# after exploding the lists
set(df['topic_tags'].explode('topic_tags').unique())

In [ ]:
# Count the unique values from the 'topic_tags'
np.size(df['topic_tags'].explode('topic_tags').unique())-1 # exclude nan value

In [ ]:
# Treating each tag as a separate binary column
df['topic_tags'].str.join(',').str.get_dummies(sep=',').astype(bool)

In [ ]:
# Concatenate the original DataFrame with dummy variables for 'topic_tags'
df = pd.concat([df, df['topic_tags'].str.join(',').str.get_dummies(sep=',').astype(bool)], axis=1)

### `problem_description`

- We counted the number of words in the `problem_description` to create a new `word_count` column.

In [ ]:
# Import necessary libraries for text processing
import re  # Regular expressions for string manipulation
import string  # String operations, including punctuation
import nltk  # Natural Language Toolkit for NLP tasks
from nltk.corpus import stopwords  # Stopwords for text filtering

In [ ]:
 def remove_html_tags(text):
    # Remove HTML tags
    cleaned_text = re.sub(r'<.*?>', '', text)
    return cleaned_text.strip()

In [ ]:
def remove_url(description):
    # Remove URl
    if bool(re.search(r'https?://\S+', description)):
        description = re.sub(r'https?://\S+', '', description)
    return description

In [ ]:
def remove_punctuation(text):  
    # '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    # Create a translation table to remove punctuation
    translator = str.maketrans('', '', string.punctuation)
    # Use the translate method to remove punctuation
    cleaned_text = text.translate(translator)
    return cleaned_text

In [ ]:
def remove_stop_words(text):
    # Remove stop words
    stop_words = set(stopwords.words('english'))  # Use English stop words
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    filtered_text = ' '.join(filtered_words)
    return filtered_text

In [ ]:
def remove_numbers(text):
    # Remove digit
    pattern = r'\d+'
    return re.sub(pattern, '', text)

In [ ]:
def get_lemmatize_text(text):
    # Initialize the WordNet Lemmatizer
    wn = nltk.WordNetLemmatizer()
    # Lemmatize each word in the text
    lemmatized_words = []
    for word in text.split():
        lemmatized_words.append(wn.lemmatize(word))
    # Return the lemmatized text
    return " ".join(lemmatized_words)

In [ ]:
def remove_chars_and_symbols(text):
    # Remove single or double characters
    text = re.sub(r'\b\w\b|\b\w\w\b', '', text)
    # Remove specific symbols
    symbols_to_remove = ['⟶', '⊕', '→', '…']
    for symbol in symbols_to_remove:
        text = text.replace(symbol, '')
    # Remove patterns starting with '\u{any number}b'
    text = re.sub(r'\\u\d+b', '', text)
    return text

In [ ]:
def remove_whitespace(text):
    # Remove multiple whitespace
    return re.sub(r'\s+', ' ', text)

In [ ]:
# Creating a new DataFrame 'temp_df' with columns 'id' and 'problem_description'
# from the original DataFrame 'df'
temp_df = df[['id','problem_description']].copy()

In [ ]:
# removing rows with missing values in 'problem_description'
temp_df.dropna(inplace=True)

In [ ]:
# Text preprocessing
temp_df['problem_description'] = temp_df['problem_description'].str.lower()
temp_df['problem_description'] = temp_df['problem_description'].apply(func=remove_html_tags)
temp_df['problem_description'] = temp_df['problem_description'].apply(func=remove_url)
temp_df['problem_description'] = temp_df['problem_description'].apply(func=remove_punctuation)
temp_df['problem_description'] = temp_df['problem_description'].apply(func=remove_stop_words)
temp_df['problem_description'] = temp_df['problem_description'].apply(func=remove_numbers)
temp_df['problem_description'] = temp_df['problem_description'].apply(func=get_lemmatize_text)
temp_df['problem_description'] = temp_df['problem_description'].apply(func=remove_chars_and_symbols)
temp_df['problem_description'] = temp_df['problem_description'].apply(func=remove_whitespace)

In [ ]:
# Adding a new column 'word_count' to 'temp_df' that represents the number of words in the 'problem_description' column.
temp_df['word_count'] = temp_df['problem_description'].str.split(' ').str.len()

In [ ]:
# Merging the original DataFrame 'df' with the 'temp_df' DataFrame 
# on the 'id' column, adding the 'word_count' column from 'temp_df' to 'df'
# based on a left join
df = df.merge(temp_df[['id','word_count']], left_on='id', right_on='id', how='left')

In [ ]:
# Converting the 'word_count' column in the DataFrame 'df' to numeric values,
# handling errors by coercing non-numeric values to NaN,
# and then converting to nullable integer type (Int32).
df['word_count'] = pd.to_numeric(df['word_count'], errors='coerce').astype('Int32')

### `similar_questions`

- **string splitting** on `similar_question`
- We are extracting a numerical feature from the `similar_questions` column that represents the number of similar questions `no_similar_questions`.

In [ ]:
# Retrieve the 'similar_questions' column
df['similar_questions']

In [ ]:
# Performing string manipulation on the 'similar_questions' column in the DataFrame 'df': 
# Removing single quotes and then splitting the string into a list using ', ' as the delimiter.
df['similar_questions'].str.replace("'",'').str.split(", ")

In [ ]:
# Removing single quotes from the 'similar_questions' column in the DataFrame 'df' 
# and then splitting the string into a list using ', ' as the delimiter.
df['similar_questions'] = df['similar_questions'].str.replace("'",'').str.split(", ")

In [ ]:
# Applying a lambda function to the 'similar_questions' column in the DataFrame 'df':
# Counting the number of elements in each list (if it is a list and the first element is not an empty string), otherwise returning 0.
df['similar_questions'].apply(lambda x: len(x) if isinstance(x,list) and x[0]!='' else 0)

In [ ]:
# Creating a new column 'no_similar_questions' in the DataFrame 'df':
# Assigning the count of elements in each list from the 'similar_questions' column, or 0 if it's not a list.
df['no_similar_questions'] = df['similar_questions'].apply(lambda x: len(x) if isinstance(x,list) else 0)

In [ ]:
# Setting 'no_similar_questions' to pd.NA for rows where 'is_premium' is True
# and 'no_similar_questions' is 0.
df.loc[(df['is_premium'] == True) & (df['no_similar_questions'] == 0), 'no_similar_questions'] = pd.NA

> **We have introduced several new features, including `no_similar_questions` for number of similar questions, an `id` attribute for unique identification, `word_count` to track the number of words, and 73 distinct features dedicated to `individual topics`.**

<center> <h2> Data Format Conversion and Data Type Conversion </h2> </center>

- We are removing special characters like **%** and abbreviations like **K** and **M** to represent the values as numbers.
- We are changing the data type of the columns from object data type to float or int to make them compatible with numerical analysis.

In [ ]:
# Retrieve specific columns ['acceptance', 'accepted', 'submission', 'solution', 'discussion_count', 'likes', 'dislikes'] 
# from the DataFrame 'df'
df[['acceptance','accepted','submission','solution','discussion_count','likes','dislikes']]

In [ ]:
# Displaying information about selected columns ['acceptance', 'accepted', 'submission', 'solution', 'discussion_count', 'likes', 'dislikes']
# in the DataFrame 'df'.
df[['acceptance','accepted','submission','solution','discussion_count','likes','dislikes']].info()

### `acceptance`

In [ ]:
# Stripping the percentage sign from the 'acceptance' column in the DataFrame 'df'
# and converting the values to floating-point numbers.
df['acceptance'] = df['acceptance'].str.rstrip('%').astype('float')

### `accepted`

In [ ]:
# Replacing 'K' with 'e3' and 'M' with 'e6' in the 'accepted' column of the DataFrame 'df', then converting the values to floating-point numbers.
df['accepted'] = df['accepted'].str.replace('K', 'e3').str.replace('M', 'e6').astype(float)

# Converting the 'accepted' column to numeric values, handling errors by coercing non-numeric values to NaN, and then converting to nullable integer type (Int32).
df['accepted'] = pd.to_numeric(df['accepted'], errors='coerce').astype('Int32')

### `submission`

In [ ]:
# Replacing 'K' with 'e3' and 'M' with 'e6' in the 'submission' column of the DataFrame 'df', then converting the values to floating-point numbers.
df['submission'] = df['submission'].str.replace('K', 'e3').str.replace('M', 'e6').astype(float)

# Converting the 'submission' column to numeric values, handling errors by coercing non-numeric values to NaN, and then converting to nullable integer type (Int32).
df['submission'] = pd.to_numeric(df['submission'], errors='coerce').astype('Int32')

### `solution`

In [ ]:
# Replacing 'K' with 'e3' and 'M' with 'e6' in the 'solution' column of the DataFrame 'df', then converting the values to floating-point numbers.
df['solution'] = df['solution'].str.replace('K', 'e3').str.replace('M', 'e6').astype(float)

# Converting the 'solution' column to numeric values, handling errors by coercing non-numeric values to NaN, and then converting to nullable integer type (Int32).
df['solution'] = pd.to_numeric(df['solution'], errors='coerce').astype('Int32')

### `discussion_count`

In [ ]:
# Converting the 'discussion_count' column in the DataFrame 'df' to numeric values, handling errors by coercing non-numeric values to NaN, 
# and then converting to nullable integer type (Int32).

df['discussion_count'] = pd.to_numeric(df['discussion_count'], errors='coerce').astype('Int32')

### `likes`

In [ ]:
# Replacing 'K' with 'e3' and 'M' with 'e6' in the 'likes' column of the DataFrame 'df', then converting the values to floating-point numbers.
df['likes'] = df['likes'].str.replace('K', 'e3').str.replace('M', 'e6').astype(float)

# Converting the 'likes' column to numeric values, handling errors by coercing non-numeric values to NaN, and then converting to nullable integer type (Int32).
df['likes'] = pd.to_numeric(df['likes'], errors='coerce').astype('Int32')

### `dislikes`

In [ ]:
# Replacing 'K' with 'e3' and 'M' with 'e6' in the 'dislikes' column of the DataFrame 'df', then converting the values to floating-point numbers.
df['dislikes'] = df['dislikes'].str.replace('K', 'e3').str.replace('M', 'e6').astype(float)

# Converting the 'dislikes' column to numeric values, handling errors by coercing non-numeric values to NaN,
# and then converting to nullable integer type (Int32).
df['dislikes'] = pd.to_numeric(df['dislikes'], errors='coerce').astype('Int32')

In [ ]:
# Displaying selected columns ['acceptance', 'accepted', 'submission', 'solution', 'discussion_count', 'likes', 'dislikes'] from the DataFrame 'df'

df[['acceptance','accepted','submission','solution','discussion_count','likes','dislikes']]

<center> <h2> Column Rearrangement </h2> </center>

- This process involves changing the sequence of columns to make the DataFrame more organized, intuitive and suitable for analysis.

In [ ]:
# Displaying the shape (number of rows and columns) of the DataFrame 'df'
df.shape

In [ ]:
# Arrangement of columns
column_order = [
    'id',
    'is_premium',
    'title',
    'problem_description',
    'word_count',
    'topic_tags',
    'difficulty',
    'similar_questions',
    'no_similar_questions',
    'acceptance',
    'accepted',
    'submission',
    'solution',
    'discussion_count',
    'likes',
    'dislikes',
       'Array', 'Backtracking',
       'Biconnected Component', 'Binary Indexed Tree', 'Binary Search',
       'Binary Search Tree', 'Binary Tree', 'Bit Manipulation', 'Bitmask',
       'Brainteaser', 'Breadth-First Search', 'Bucket Sort', 'Combinatorics',
       'Concurrency', 'Counting', 'Counting Sort', 'Data Stream', 'Database',
       'Depth-First Search', 'Design', 'Divide and Conquer',
       'Doubly-Linked List', 'Dynamic Programming', 'Enumeration',
       'Eulerian Circuit', 'Game Theory', 'Geometry', 'Graph', 'Greedy',
       'Hash Function', 'Hash Table', 'Heap (Priority Queue)', 'Interactive',
       'Iterator', 'JavaScript', 'Line Sweep', 'Linked List', 'Math', 'Matrix',
       'Memoization', 'Merge Sort', 'Minimum Spanning Tree', 'Monotonic Queue',
       'Monotonic Stack', 'Number Theory', 'Ordered Set', 'Pandas',
       'Prefix Sum', 'Probability and Statistics', 'Queue', 'Quickselect',
       'Radix Sort', 'Randomized', 'Recursion', 'Rejection Sampling',
       'Reservoir Sampling', 'Rolling Hash', 'Segment Tree', 'Shell',
       'Shortest Path', 'Simulation', 'Sliding Window', 'Sorting', 'Stack',
       'String', 'String Matching', 'Strongly Connected Component',
       'Suffix Array', 'Topological Sort', 'Tree', 'Trie', 'Two Pointers',
       'Union Find',
    'problem_URL',
    'solution_URL'
]

In [ ]:
# Check number of columns
len(column_order)

In [ ]:
# Column Rearrangement  
df = df[column_order]

### `Final Overview of the preprocessed data`

In [ ]:
# Information about dataframe
df.info()

In [ ]:
# Displaying the count of null values for columns with non-zero null counts
# in the DataFrame 'df'

df.isnull().sum()[df.isnull().sum()!=0]

- We lack information regarding 817 premium questions.

<center><h2> Conclusion </h2></center>

- The dataset is now prepared and cleaned for further analysis.
- Missing data is imputed and formatted correctly.
- Additional features are engineered for better insights.

In [ ]:
# Saving the preprocessed DataFrame 'df' 
# to a CSV file named 'preprocessed_data.csv' without including the index.
df.to_csv('preprocessed_data.csv', index=None)

**References**

1. Pandas Documentation: https://pandas.pydata.org/docs/index.html
2. Numpy Documentation: https://numpy.org/doc/stable/index.html